/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;      
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;    
    gap: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 50px;
    box-sizing: border-box;   
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header and Navbar ***********/
header{    
    width: 100%;
    max-width: 1440px; 
    display: flex;
    justify-content: space-between; 
}

.logo-container{
    padding: 30px 50px;
    display: flex;    
}

header img{    
    cursor: pointer;
    width: 61.09px;
    height: 19px;
}

nav ul{
    display: flex;      
    margin: 0px;
    padding: 0px 25px;
    gap: 68px;
}

nav ul li{
    list-style: none;
    cursor: pointer;     
    width: 113px;
    height: 35px;    
    padding-top: 16px;
    font-weight: 400;
    text-align: center;      
}

.nav-hebergements a:hover:before{
    content: "";
    width: 113px;
    height: 3px;
    position: absolute;
    background: #0065FC;
    transform: translateY(-16px);    
}

.nav-activities a:hover:before {
    content: ""; 
    width: 113px;
    height: 3px;
    position: absolute;
    background: #0065FC;    
    transform: translate(-25.5px,-16px);      
}

nav ul li a:hover{
    color: #0065FC;
}

/****** Title And Search ***********/

.title-and-search{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title{
    display: flex;
    flex-direction: column;    
    gap: 8px;
}

.title h1{
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.title p{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.search-form {    
    display: flex;
    padding: 0;
    margin: 0;
    width: 377px;
    height: 49px;
}

.search-icon{    
    min-width: 50px;
    height: 49px;   
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: black;
}

.search-form form{
    width: 195px;
    height: 49px;    
}

.search-form input{
    border: 1px solid #F2F2F2;
    width: 195px;
    height: 45px;    
    text-align: center;    
    font-weight: 700;
    font-size: 18px;
    color: black;  
}

.search-form input::placeholder{   
    text-align: center;    
    font-weight: 700;
    font-size: 18px;
    color: black;  
}

.search-button{
    cursor: pointer;
    width: auto;
    height: 49px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: #0065FC;
    font-weight: 700;
    font-size: 18px;    
    text-align: center;    
    padding-left: 16px;
    padding-right: 16px;
}

.fa-magnifying-glass{
    color: white;
    display: none;
}

/****** Filters ***********/

.filters{
    display: flex;
    align-items: center; 
    gap: 15px;    
}

.filters-title h2{
    font-weight: 700;
    font-size: 18px;
}

.filters-buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters button{
    font-weight: 700;
    font-size: 17px;    
    display: flex;
    justify-content: center;   
    align-items: center;    
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px;
    gap: 10px;
    background-color: white;
}

.filters button:hover{    
    background-color: #DEEBFF;
}

.filters button i{   
    font-weight: 700;
    font-size: 17px;
}

.filters button h3{
    font-weight: 700;
    font-size: 17px;
}

.infos{
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
}

.icon-container{
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    color: #0065FC;
    min-width: 24px;
    min-height: 24px;
    text-align: center;
}

.infos i{
    font-size: 10px;
    width: 4px;
}

.infos p{
    font-weight: 400;
    font-size: 16px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/******* Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements h2{
    margin: 0;
    font-weight: 700;
    font-size: 22px;
}

.hebergements-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;  
    gap: 30px;
}

.hebergements-cards{
    width: 100%;
    border-radius: 20px;    
}

.hebergements-cards .card{
    padding: 0px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
}

.hebergements-cards .card-img{
    width: 100%;    
    display: flex;
}

.hebergements-cards img{
    min-width: 145px;     
    max-width: 250.33px;  
    width: 100%;
    height: 124px;
    border: 5px solid white;  
    border-radius: 20px 20px 0 0;
    justify-content: center;    
}

.hebergements-cards .card-content{     
    padding:  0px 15px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;        
    gap: 8px;
}

.hebergements-cards .card-content .card-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    gap: 8px;
}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
}

.hebergements-cards .card-rating {
    margin-bottom: 8px;
}

.hebergements .show-more{
    font-weight: 700;
    font-size: 18px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activities{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activities h2{
    margin: 0;
}

.activities-cards{
    display: flex;    
    border-radius: 20px;   
    gap: 30px;
}

.activities-cards a{
    width: calc(25% - 25px);
}

.activities-cards .card{
    padding: 0px;
    height: 439px;        
    display: flex;
    flex-direction: column;    
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);  
}

.activities-cards img{    
    height: 370px;    
    border-radius: 20px 20px 0 0;    
}

.activities-cards .card-content{
    display: flex;    
    border-radius: 0 0 20px 20px;
    padding: 20px 19px; 
    height: 30px;
    align-items: center;
}

.activities-cards .card-content h3{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

/****** Footer ***********/

footer{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;     
}

.footer-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33.3%;
}

.footer-container h3{
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
}

.footer-container a{
    font-weight: 400;
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Filters ***********/
    .filters{
        flex-direction: column;        
        align-items : start;
        gap: 20px;
    }
    
    /****** Hebergements and populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activities ***********/
    .activities-cards .card{
        height: auto;            
    }

    .activities-cards img{       
        height: 200px;
    }

    .activities-cards .card-content{               
        height: 30px;
        align-items: center;
        line-height: 1;       
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {   

    /****** Body ***********/
    body{
        margin: 0;
    }

    /****** Header + nav ***********/
    header{
        flex-direction: column;
    }

    nav ul{
        gap: 0px;
    }

    nav ul li {
        width: 50%;
        padding-top: 0px;
    }

    .logo-container{
        margin: 0 auto;
    }

    .nav-hebergements{
        color: #0065FC;
    }
    
    .nav-hebergements a:before {
        visibility: hidden;     
    }

    .nav-activities a:hover:before {
        visibility: hidden;
    }

    .grid-bar .under-bar1{        
        width: 100%;
        height: 2px;        
        background-color: #0065FC;
    }

    .grid-bar .under-bar2{
        width: 100%;
        height: 2px;        
        background-color: #F2F2F2;
    }

    .grid-bar{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .nav-activities a:hover{
        color: #0065FC;
    }

    /****** Main ***********/

    .main-container{
        padding-left: 0px;
        padding-right: 0px;        
    }

    /****** Title and search + Filters ***********/    
    .title-and-search{
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-form {
        width: 100%;
    }

    .search-form input{        
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .search-form input::placeholder{        
        width: 100%;
        text-align: left;      
    }

    .search-form {
        margin: 0px auto;
    }

    .search-form {
        width: 100%;      
        display: grid;
        grid-template-columns: 49px 1fr 49px;
        grid-template-rows: 1fr;
        grid-template-areas:
        "icon search submit";
    }

    .search-button{        
        cursor: pointer;
        width: auto;
        height: 49px;
        border: 1px solid #0065FC;
        border-radius: 15px;
        color: white;
        background-color: #0065FC;
        font-weight: 700;
        font-size: 18px;    
        text-align: center;    
        padding-left: 16px;
        padding-right: 16px;
    }

    .search-button-research {
        display: none;
    }

    .search-button .fa-magnifying-glass{
        display: block;
    }

    .filters-title h3{
        margin: 0;
    }

    .filters-buttons{
        width: 100%;
        gap: 10px;        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 14px;    
    }

    .filters button{
        justify-content: left;
        min-width: 140.5px;
        font-size: 14px;
        overflow-wrap: break-word;   
    }

    /****** Hebergements and populaires ***********/

    .hebergements-and-populaires{
        flex-direction: column-reverse;        
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /****** Populaires ***********/
    .populaires{
        margin: 0px;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards{
        gap: 15px;
    }

    .populaires-cards a{
        width: 100%;
        height: 146px;
    }

    .populaires-cards .card{
        margin: 0;
    }

    .populaires-cards .card-title{
        font-size: 16px;
    }

    .populaires-cards .card-subtitle{
        font-size: 14px;
    }

    /****** Hebergements ***********/
    #hebergements{
        padding: 20px;
        background-color: #FFFFFF;       
    }

    .hebergements-cards-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .hebergements-cards{
        width: 100%;
    }

    .hebergements-cards img{
        max-width: 100%;
    }

    .hebergements-cards .card-content{
        height: fit-content;
    }

    /****** Activities ***********/
    .activities-cards{
        flex-direction: column;
    }

    .activities-cards a{
        width: 100%;
    }

    .activities-cards .card{ 
        max-width: 100%;
        height: 259px;
    }

    .activities-cards img{
        max-width: 100%;        
    }

    /****** Footer ***********/
    footer{
        flex-direction: column;
        padding: 30px;
        width: calc(100% - 60px);
        gap: 50px;
    }

    .footer-container{
        padding: 0;
        min-width: 263.67px;
    }
}